@font-face {
    font-family: Body;
    src: url(Body.ttf);
}

@font-face {
    font-family: DMSans;
    src: url(DMSans-Regular.ttf);
}

@font-face {
    font-family: ComputerSaysNo;
    src: url(Computersaysno.ttf);
}

* {
    box-sizing: border-box;
}

body {    
    margin: 0;
    padding: 0;
}

h1 {
    text-transform: uppercase;
    font-family: Body;
    font-size: 5rem;
    margin: 0;
    line-height: 75px;
}

h2 {
    text-transform: uppercase;
    font-family: Body;
}

.snack-container h2 {
    margin: 0;
    margin-top: 3px;
}

.arcade-container h2 {
    margin: 0;
    margin-top: 3px;
}

.cul-container h2 {
    margin: 0;
    margin-top: 3px;
}

.presents-container h2 {
    margin: 0;
    margin-top: 3px;
}


.footer-container h2 {
    margin: 0;
    font-size: 16px;
    
}


.pinata-container h2 {
    margin: 0;
    margin-top: 3px;
}

.contest-container h2 {
    margin: 0;
    margin-top: 3px;
    display: inline;
    padding-left: 15px;
}


h3 {
    font-family: DMSans;
    margin: 0;
}

p {
    font-family: DMSans;
}



.jukebox-container {
    background-color:#3AA0FF;
    color: white;
    width:100%;
    height:auto;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.jukebox-heading {
    display: inline;
    margin-left: 10px;
}

.jukebox-title {
    margin: 8px 5px 0 5px;
}

.jukebox-song {
    margin-top: 8px;
    margin-bottom: 5px;
}

.jukebox-controls {
    margin: 8px 10px 5px 0;
}

.celebs-container {
    width:100%;
    padding-left: 15px;
    padding-right: 15px;
    height:auto;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.gift-container {
    width:100%;
    padding-left: 15px;
    padding-right: 15px;
    height:auto;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.gift-heading {
    height: 10vh;
}

.culsec-container {
    width:100%;
    /* padding-left: 15px;
    padding-right: 15px; */
    height:100%;
    display: flex;
    justify-content: space-between;

}

.culsec-button {
  background-color:black; 
  background-color:transparent; 

  border: none;
  /* color: white; */
  /* padding: 15px 32px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /* font-size: 20px; */
  font-size: 100px;
  text-transform: uppercase;
  font-family: Body;
  cursor: pointer;

}


audio { 
    display:none;
}

.chubbyimg, .chubbyimg2, .chubbyimg3 {
    /* width:100%;
    height:100%; */
    position: relative;
}
.chubbyimg img {
    position: absolute;
    top:0;
    right: 500px
    /* margin-left:-10px;
    margin-top:-10px; */
}

.chubbyimg2 img {
    position: absolute;
    top:0;
    right: 300px
    /* margin-left:-10px;
    margin-top:-10px; */
}

.chubbyimg3 img {
    position: absolute;
    top:0;
    right: 100px
    /* margin-left:-10px;
    margin-top:-10px; */
}

.macheteimg {
    /* width:100%;
    height:100%; */
    position: relative;
}
.macheteimg img {
    position:absolute;
    /* left: 30%;
    top: -60%; */
    top:-50px;
    right: 500px;
    z-index: 1;
    /* margin-left:-10px;
    margin-top:-10px; */
}

.officeimg {
    /* width:100%;
    height:100%; */
    position: relative;
}
.officeimg img {
    position:absolute;
    /* left: 30%;
    top: -60%; */
    top: 175px;
    right: 100px;
    z-index: 1;
    /* margin-left:-10px;
    margin-top:-10px; */
}

.girlimg {
    /* width:100%;
    height:100%; */
    position: relative;
}
.girlimg img {
    position:absolute;
    /* left: 30%;
    top: -60%; */
    top: 70px;
    right: 420px;
    z-index: 1;
    /* margin-left:-10px;
    margin-top:-10px; */
}




.danceimg {
    /* width:100%;
    height:100%; */
    position: relative;
}
.danceimg img {
    position:absolute;
    /* left: 30%;
    top: -60%; */
    top: 200px;
    left: 200px;
    z-index: -1;
    /* margin-left:-10px;
    margin-top:-10px; */
}

.coolimg {
    /* width:100%;
    height:100%; */
    position: relative;
    /* height: 100%; */
}
.coolimg img {
    position: absolute;
    left: 100px;
    /* bottom: 0px; */
    /* margin-left:-10px;
    margin-top:-10px; */
}

.chairimg {
    /* width:100%;
    height:100%; */
    position: relative;
}
.chairimg img {
    position: absolute;
    top: 310px;
    right: 200px;
    /* margin-left:-10px;
    margin-top:-10px; */
}

.main-subtitle {
    background-color: #FF9935;
    color: white;
    width: 350px;
    /* border: 1px solid black; */
    padding-left: 10px;
}


.beerimg {
    /* width:100%;
    height:100%; */
    position: relative;
}
.beerimg img {
    position:absolute;
    /* left: 30%;
    top: -60%; */
    top: 15%;
    right: 100px;
    z-index: 1;
    /* margin-left:-10px;
    margin-top:-10px; */
}
.cheersimg {
    /* width:100%;
    height:100%; */
    position: relative;
}
.cheersimg img {
    position:absolute;
    /* left: 30%;
    top: -60%; */
    top: 50%;
    right: 300px;
    z-index: 1;
    /* margin-left:-10px;
    margin-top:-10px; */
}



.main-container {
    margin-top: 15px;
    margin-left: 15px;
}

.snack-container {
    background-color:#FFBEE0;
    background-color: #FFFCF0;

    width:100%;
    height:auto;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    
}

.pinata-container {
    /* background-color:#FFD93B; */
    /* background-color: #FFFCF0; */
   /* width: 33.333%;
    width: 33.333%; */


    height:auto;
    /* display: flex; */
    /* justify-content: center; */
    /* border: 1px solid black; 
    border-top: none;    */
    /* cursor: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/happy.png"), auto; */
    cursor: url("stick.png"), auto;

    /* cursor: url('./stick.png'); */
    /* cursor: pointer; */
}

.pinata-text {
    position: absolute;
    left: 30vw;
    margin-top: 100px;
}

.image-bar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    /* padding: 15px; */
    /* padding-left: 20vw;
    padding-right: 20vw; */
    /* background-color: plum; */

}

.space-bar {
    height: 10vh;
}

/* .image-bar img {
    justify-content: space-around;
} */

.pin-container {
    height: 75%;
    /* height: auto; */
    position: relative;
    /* background-color:#FFD93B; */
    /* background-color: #FFFCF0; */
    /* width: 100%;
    height:100%;
    display: flex;
    justify-content: center; */
    /* border: 1px solid black; 
    border-top: none;    */
    /* cursor: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/happy.png"), auto; */

    /* cursor: url('./stick.png'); */
    /* cursor: pointer; */
}

.footer-container {
    background-color: white;
    width:100%;
    height:auto;
    justify-content: space-between;
    text-align: center;
    /* border: 1px solid black;   
    border-top: 0;  */
}

.arcade-container {
    background-color: #FFFCF0;
    background-color:#FFD93B;
    background-color: #00FF00;
    width:100%;
    height:auto;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;    
}

.gaming-container {
    background: url('arcade.png'); 
    /* background: white; */
    /* width:100%;
    height: 100%; */
    /* display: flex; */
    justify-content: center;
    border: 1px solid black;    
}

.cul-container {
    background-color:#FFD93B;
    background-color: #FF9935;
    width:100%;
    height:auto;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;    
    /* border-top: 0; */
}

.presents-container {
    background-color:#FFD93B;
    width:100%;
    height:auto;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;    
}

.contest-container {
    background-color:#2F3CC6;
    background-color: #FFBEE0;
    width:100%;
    height:auto;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;    
}

.snack-heading, .arcade-heading {
    display: inline;
    padding-left: 15px;
}

.footer-heading {
    text-align: center;
    padding: 8px;
}

.segment img:hover {
    animation: shake 2s;
    animation-iteration-count: infinite;
}

.culsec-button:active {
    animation: shake 2s;
    animation-iteration-count: infinite;
}

.segment > img {
    vertical-align: middle;

}
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

  .scroll {
    height: 25%;
    font-size: 120px;
    line-height: 20vh;
    white-space: nowrap;
    color: #fff;
    overflow: hidden;
  }
  .invert {
    color: #000;
    background: #eee;
  }
  .segment {
    display: inline-block;
    /* padding-left: 25%; */
    animation: scroll 10s infinite linear;
  }
  .reverse .segment {
    animation-direction: reverse;
  }
  .speed-half .segment {
    animation-duration: 20s;
  }
  .offset-25 {
    transform: translateX(-25%);
  }
  .offset-50 {
    transform: translateX(-50%);
  }
  .offset-75 {
    transform: translateX(-75%);
  }
  @-moz-keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  @-webkit-keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  @-o-keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .rotate {
    animation: rotation 8s infinite linear;
  }
  
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

  .spacer {
    height: 225px;
    /* background-color: lightblue; */
    line-height: 400px;
    text-align: center;
    margin-bottom: 40px;
  }
  
  .spacer-bottom {
    margin-top: 40px;
    height: 125px;
  }
  
  .tick {
    height: 30px;
    background-size: contain;
    background-repeat: repeat-x;
  }

  .contest-content-container {
    padding-top: 3rem;
  padding-bottom: 3rem;
  }




  .swing {
    animation: swing ease-in-out 1s infinite alternate;
    transform-origin: center -20px;
    float:center;
}
.swing img {
    border: 5px solid #f8f8f8;
    display: block;
}
.swing:after{
    content: '';
    position: absolute;  
    width: 20px; height: 20px;  
    border: 1px solid #999;
    top: -10px; left: 50%;
    z-index: 0;
    border-bottom: none;
    border-right: none;
    transform: rotate(45deg);
}
/* nail */
.swing:before{
    content: '';
    position: absolute;
    width: 5px; height: 5px;
    top: -14px;left: 54%;
    z-index: 5;
    border-radius: 50% 50%;
    background: #000;
}
 
@keyframes swing {
    0% { transform: rotate(3deg); }
    100% { transform: rotate(-3deg); }
}

.arcade-subtitle {
    font-family: ComputerSaysNo;
    /* color: white; */
}

.arcade-title {
    font-family: ComputerSaysNo;
    color: lime;
    font-size: 70px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
}


  .audio-player {
    height: 50px;
    width: 50px;
    background: #444;
    box-shadow: 0 0 20px 0 #000a;
    font-family: arial;
    color: white;
    font-size: 0.75em;
    overflow: hidden;
    display: grid;
    grid-template-rows: 6px auto;
  }
  .audio-player .timeline {
    background: white;
    width: 100%;
    position: relative;
    cursor: pointer;
    box-shadow: 0 2px 10px 0 #0008;
  }
  .audio-player .timeline .progress {
    background: coral;
    width: 0%;
    height: 100%;
    transition: 0.25s;
  }
  .audio-player .controls {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 0 20px;
  }
  .audio-player .controls > * {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .audio-player .controls .toggle-play.play {
    cursor: pointer;
    position: relative;
    left: 0;
    height: 0;
    width: 0;
    border: 7px solid #0000;
    border-left: 13px solid white;
  }
  .audio-player .controls .toggle-play.play:hover {
    transform: scale(1.1);
  }
  .audio-player .controls .toggle-play.pause {
    height: 15px;
    width: 20px;
    cursor: pointer;
    position: relative;
  }
  .audio-player .controls .toggle-play.pause:before {
    position: absolute;
    top: 0;
    left: 0px;
    background: white;
    content: "";
    height: 15px;
    width: 3px;
  }
  .audio-player .controls .toggle-play.pause:after {
    position: absolute;
    top: 0;
    right: 8px;
    background: white;
    content: "";
    height: 15px;
    width: 3px;
  }
  .audio-player .controls .toggle-play.pause:hover {
    transform: scale(1.1);
  }
  .audio-player .controls .time {
    display: flex;
  }
  .audio-player .controls .time > * {
    padding: 2px;
  }
  .audio-player .controls .volume-container {
    cursor: pointer;
    position: relative;
    z-index: 2;
  }
  .audio-player .controls .volume-container .volume-button {
    height: 26px;
    display: flex;
    align-items: center;
  }
  .audio-player .controls .volume-container .volume-button .volume {
    transform: scale(0.7);
  }
  .audio-player .controls .volume-container .volume-slider {
    position: absolute;
    left: -3px;
    top: 15px;
    z-index: -1;
    width: 0;
    height: 15px;
    background: white;
    box-shadow: 0 0 20px #000a;
    transition: 0.25s;
  }
  .audio-player .controls .volume-container .volume-slider .volume-percentage {
    background: coral;
    height: 100%;
    width: 75%;
  }
  .audio-player .controls .volume-container:hover .volume-slider {
    left: -123px;
    width: 120px;
  }


.graph {
    /* padding-left: 50px;
    padding-right: 50px; */
}
.bar {
    height: 25px; 
}

#contest-bar-ben {
    background: navy;
    /* animation: bar1 3s ease 1 normal; */
    width: 50px;
}

/* #contest-bar-ben {
  background: navy;
  animation: bar1 3s ease 1 normal;
  width: 200px;
} */
@keyframes bar1 {
 0% { width: 0px; }
 100% { width: var(--w); } 
}

.graph .bar:nth-child(2) {
  background: red;
  animation: bar2 3s ease 1 normal;
  width: 300px;
}
@keyframes bar2 {
 0% { width: 0px; }
 100% { width: 300px; }
}

.graph .bar:nth-child(3) {
  background: green;
  animation: bar3 3s ease 1 normal;
  width: 400px;
}
@keyframes bar3 {
 0% { width: 0px; }
 100% { width: 400px; }
}

.graph .bar:nth-child(4) {
  background: purple;
  animation: bar4 3s ease 1 normal;
  width: 500px;
}
@keyframes bar4 {
 0% { width: 0px; }
 100% { width: 500px; }
}

.result-container {
    display: flex;
    justify-content: space-evenly;
}

.graph {
    display: flex;
	flex-wrap: wrap;
    padding-left: 50px;
    padding-right: 50px;
}
.contest-results-image {
	/* flex-grow: 1; */
	width: 7%;
	/* height: 100px; */

}

.contest-results-name {
	/* flex-grow: 1; */
	/* width: 25%; */
	height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}


.contest-results-bar {
	flex-grow: 1;
    display: flex;
    align-items: center;
}

.gift-results {
    text-align: center;

}



@-webkit-keyframes float {
    0% {
      /* box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6); */
      transform: translatey(0px);
    }
    50% {
      /* box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2); */
      transform: translatey(-20px);
    }
    100% {
      /* box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6); */
      transform: translatey(0px);
    }
  }
  
  @keyframes float {
    0% {
      /* box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6); */
      transform: translatey(0px);
    }
    50% {
      /* box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2); */
      transform: translatey(-20px);
    }
    100% {
      /* box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6); */
      transform: translatey(0px);
    }
  }
  .emoji-container {
    width: 100%;
    /* height: 20vh; */
    margin-top: 50px;
    margin-bottom: 40px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
  }
  
  .emojis {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
  
  .emoji {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    box-sizing: border-box;
    /* border: 3px white solid;
    border-radius: 50%; */
    /* overflow: hidden; */
    /* box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6); */
    transform: translatey(0px);
    -webkit-animation: float 6s ease-in-out infinite;
            animation: float 6s ease-in-out infinite;
  }
  .emoji:nth-child(1) {
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
  }
  .emoji:nth-child(2) {
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
  }
  .emoji:nth-child(3) {
    -webkit-animation-delay: 1.5s;
            animation-delay: 1.5s;
  }
  .emoji:nth-child(4) {
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
  }
  .emoji:nth-child(5) {
    -webkit-animation-delay: 2.5s;
            animation-delay: 2.5s;
  }
  .emoji:nth-child(6) {
    -webkit-animation-delay: 3s;
            animation-delay: 3s;
  }
  .emoji:nth-child(7) {
    -webkit-animation-delay: 3.5s;
            animation-delay: 3.5s;
  }
  .emoji:nth-child(8) {
    -webkit-animation-delay: 4s;
            animation-delay: 4s;
  }
  .emoji:nth-child(9) {
    -webkit-animation-delay: 4.5s;
            animation-delay: 4.5s;
  }
  .emoji:nth-child(10) {
    -webkit-animation-delay: 5s;
            animation-delay: 5s;
  }
  .emoji:hover {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
  }
  .emoji a {
    text-decoration: none;
  }
  .emoji span {
    width: 100%;
    height: 100%;
    font-size: 5rem;
    border: none;
  }
  
  


@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");


.brand {
 /* display: flex; */
      position: absolute;
      align-items: center;
      justify-content: center;
      width: 40%;
      max-width: 150px;
      right: 25%;
      top: 400px;
}
.brand img {
  display: block;
  border-radius: 50%;
  width: 100%;
}
.brand .brand-label {
  transition: all 0.2s ease-in-out;
}
.brand .brand-label svg {
  position: absolute;
  left: -90%;
  top: -90%;
  height: 280%;
  width: 280%;
  pointer-events: none;
  animation-name: rotate;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-play-state: infinite;
}
.brand .brand-label svg text {
  font-family: "DMSans", sans-serif;
  font-size: 12px;
  letter-spacing: 1px;
  font-variation-settings: "wght" 650;
}
.brand:hover .brand-label svg {
  animation-play-state: running;
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0);
  }
}


@keyframes bang {
    from {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }
  .hoverme {
    /* width: 240px;
    margin: 150px auto 0; */
    text-align: center;
    padding: 10px 0;
    cursor: pointer;
    position: relative;
    background: transparent;
    border: none;
  }
  .hoverme span {
    color: #333;
    font-size: 0.9em;
  }
  .hoverme i {
    position: absolute;
    display: block;
    left: 50%;
    top: 50%;
    width: 3px;
    height: 8px;
    background: red;
    opacity: 0;
  }

  .secret-text {
    color: #00FF00;
    font-family: ComputerSaysNo;
    font-size: 100px;
  }

  .error-text {
    color: #00FF00;
    font-family: ComputerSaysNo;
    font-size: 30px;
    margin-top: 10px;
    font-style: italic;
  }

  input[type=password] {
    border: none;
    /* border-bottom: 1px solid #00FF00; */
    background-color: transparent;
    color: #00FF00;
    font-size: 75px;
  }

  textarea:focus, input:focus{
    outline: none;
}